.App {
    position: relative;

    &__wrapper {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 12px;
    }

    &__state {
        width: 100vw;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
